@import '~bootstrap/scss/bootstrap';

$background-color: #919ade;
$font-color: #efefef;
$white: #fff;
$grey: #aaa;
$teal: var(--teal);
$black: #000;

body {
  background-color: $background-color;
}

.box {
  align-items: center;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}
